.loading {
  width: 100vw;
  height: 100%;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  background-color: var(--clr-primary-200);
  z-index: 3000;

  .loader {
    width: 50px;
    height: 50px;
    border: 2px solid var(--clr-accent-100);
    border-bottom: 2px solid transparent;
    border-radius: 50%;
    position: relative;
    animation: spin 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
      width: 25px;
      height: 25px;
      border: 2px solid transparent;
      border-top: 2px solid var(--clr-accent-100);
      border-radius: 50%;
      animation: spinInner 1s linear infinite;
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spinInner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-720deg);
    }
  }
}
