.pricing-page {
  .hero {
    height: fit-content !important;
    display: grid !important;
    grid-template-rows: auto 30vh;
    background-image: url("../../assets/hero-bg.png");
    @extend %background-covered;
    z-index: 1;

    &::before {
      @extend %pseudo-covered;
      background-image: $gradient-100;
      opacity: 0.8;
    }

    .hero-container {
      grid-template-rows: 1fr;
      padding: 0 !important;

      .breadcrumb-item {
        &::before {
          color: var(--clr-primary-200);
        }
      }
    }
  }

  .pricing {
    &-container {
      .sphere__gradient-alpha {
        scale: 3.5;
        top: 0;
        left: 10%;
        z-index: -1;
        opacity: 0.25;

        @media (min-width: 768px) {
          top: 10%;
          scale: 6;
        }
      }

      .sphere__gradient {
        scale: 2;
        bottom: -5%;
        right: -10%;

        @media (min-width: 768px) {
          scale: 2.3;
          bottom: -30%;
          right: -10%;
        }
      }

      .card {
        display: grid;
        place-items: center;
        padding: 3rem 1rem;
      }
    }
  }

  .faqs {
    overflow: unset;
    .sphere__gradient-small {
      left: 5%;
      top: -20%;

      @media (min-width: 768px) {
        left: 5%;
        top: -10%;
      }
    }

    .sphere__gradient-big {
      scale: 2.7;
      left: -9%;
      top: 29%;
    }
  }
}
